//Pagination
.pagination {
  width: 100%;
  @include dflex(row, nowrap, center, center);
}

.pagination__button {
  text-align: center;
  border: none;
  background-color: transparent;
  font-size: 0.7rem;
  font-weight: 600;
}

.pagination__number {
  margin: 0 0.25rem;
  padding: 0.2rem;
  height: 1.5rem;
  width: 1.5rem;

  border-radius: 5px;
  color: $grey-3;
}

.pagination__number--active {
  background-color: $curiousblue;
  color: $offwhite;
}

.pagination__direction {
  color: $curiousblue;
}