// Page 
.site {
  min-height: 100vh;
  width: 100vw;
}

.site__header {
  position: fixed;
  top: 0;
  padding: 0.5rem 0.5rem;

  @include media-query("medium") {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.site__inner {
  padding-top: 4rem;
  height: 100%;
  width: 100%;
  background-color: $offwhite;
}

.site__aside {
  height: 100%;
  width: 100%;
  
  @include media-query("medium") {
    position: fixed;
    top: 5.5rem;
    left: 0;
    width: 13rem;
    overflow-x: hidden;
    z-index: 1;
    background-color: $offwhite;
  }
}

.site__main {
  width: 100%;

  @include media-query("medium") {
    margin-left: 13rem;
    width: calc(100% - 13rem);
    overflow-y: auto;
  }
}