// Site navigation
.navigation {
  padding: 0.5rem;
  width: 100%;
  @include dflex(row, wrap, center, center);

  @include media-query("medium") {
    display: block;
  }
}

.navigation__list {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  @include dflex(row, wrap, center, center);

  @include media-query("medium") {
    display: block;
  }
}

.navigation__item {
  margin: 0 0.5rem;
  
  @include media-query("medium") {
    margin: 0 0 0.5rem;
  }
}

.navigation__link {
  padding: 0.3rem 0.8rem;
  @include dflex(row, wrap, flex-start, center);
  border-radius: 5px;
  text-decoration: none;
  color: $grey-3;
  font-size: 0.85rem;

  @include media-query("medium") {
    padding: 0.6rem 1rem;
    font-size: 1rem;
  }
}

.navigation__link--active {
  background-color: $curiousblue;
  color: $offwhite;
}

.navigation__icon {
  margin-right: 0.8rem;
  @include dflex(row, wrap, center, center);
  font-size: 1.2rem;
}