@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body {
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}

td, th {
  padding: 1rem;
}