// Colours
$offwhite: #fff;
$catskillwhite: #f5f7fa;
$grey-1: #DADFE4;
$grey-2: #E6E8F2;
$grey-3: #6D7193;
$java: #19d5b2;
$lightjava: rgba(25, 213, 178, 0.1);
$curiousblue: #1f8ceb;
$lightcuriousblue: rgba(31, 140, 235, 0.1);
$oxfordblue: #394455;


