// Billing page
.billing {
  border-top: 1px solid $grey-1;
  height: 100%;

  @include media-query("medium") {
    border-top: none;
    border-left: 1px solid $grey-1;
  }
}

.billing__main-header {
  padding: 1rem 1.2rem;
  color: $oxfordblue;
}

.billing__title {
  margin: 0 0 0.5rem;
  font-size: 1.4rem;
}

.billing__description {
  margin: 0;
  font-size: 0.85rem;
  font-weight: 600;
}

.billing__content {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: auto auto auto;
  column-gap: 1rem;
  row-gap: 1rem;
  padding: 1rem;
  background-color: $catskillwhite;

  @include media-query("medium") {
    padding-left: 2rem;
    padding-right: 3rem;
    grid-template-rows: auto auto auto auto;
  }
}

.billing__message-container {
  @include dflex(row, wrap, center, center);
}

.billing__message {
  text-align: center;
  font-size: 1rem;
  color: $curiousblue;
}

.billing__accounts {
  grid-column: 1 / 17;
  grid-row: 1 / 2;
  @include dflex(row, wrap, flex-start, center);
}

.billing__account {
  margin-bottom: 1rem;
  padding: 0.5rem;

  @include media-query("large") {
    margin-right: 1rem;
  }
}

.billing__payment-details {
  grid-column: 1 / 17;
  grid-row: 2 / 3;

  @include media-query("large") {
    grid-column: 1 / 12;
  }
}

.billing__my-products {
  grid-column: 1 / 17;
  grid-row: 3 / 4;

  @include media-query("large") {
    grid-column: 12 / 17;
    grid-row: 2 / 3;
  }
}

.billing__history {
  grid-column: 1 / 17;
  grid-row: 4 / 5;

  @include media-query("large") {
    grid-row: 3 / 4;
  }
}

// Account section
.account {
  width: 100%;
  border: 1px solid $grey-1;
  border-radius: 10px;

  @include media-query("large") {
    width: 15rem;
  }
}

.account__header {
  @include dflex(row, wrap, flex-start, center);
  margin-bottom: 0.5rem;
}

.account__title {
  margin: 0 0.8rem 0 0;
  color: $curiousblue;
  font-size: 1.1rem;
}

.account__active-indicator {
  padding: 0.2rem 0.4rem;

  background-color: $lightjava;
  border-radius: 10px;
  font-size: 0.7rem;
  color: $java;
  font-weight: 600;
}

.account__id {
  color: $grey-3;
  font-size: 0.85rem;
  font-weight: 600;
}

.account--active {
  border-color: $curiousblue;
  background-color: $lightcuriousblue;
}

.account__active-indicator--active {
  background-color: $offwhite;
}

// Payment details section
.payment-details {
  background-color: $offwhite;
  border: 1px solid $grey-1;
  border-radius: 10px;
}

.payment-details__header {
  padding: 1rem 1rem 0.7rem;
  border-bottom: 1px solid $grey-1;
}

.payment-details__title {
  margin: 0 0 0.5rem;
  font-size: 1.1rem;
  color: $oxfordblue;
}

.payment-details__subtitle {
  margin: 0;
  font-size: 0.85rem;
  color: $grey-3;
  font-weight: 500;
}

.payment-details__content {
  padding: 1.4rem 1.4rem 2.5rem;
}

.payment-details__next-invoice {
  margin: 0 0 1rem;
  font-weight: 800;
}

.payment-details__content-inner {
  @include dflex(column, wrap, center, center);

  @include media-query("large") {
    @include dflex(row, wrap, center, flex-start);
  }
}

.payment-details__block {
  margin: 0 0.5rem 1rem;
  padding: 1.5rem 1rem;
  height: 15rem;
  width: 100%;
  background-color: $catskillwhite;
  border-radius: 10px;

  @include media-query("large") {
    width: 20rem;
  }
}

.payment-details__block-info {
  margin-bottom: 2rem;
  @include dflex(row, nowrap, center, flex-start);
}

.payment-details__button {
  padding: 0.5rem 1rem;

  background-color: $curiousblue;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  color: $offwhite;
  font-size: 1rem;
  font-weight: 600;
}

// Payemnt details- current balance
.payment-details__balance-amount {
  margin: 0 0 1rem;
  font-weight: bold;
  font-size: 1.4rem;
  color: $oxfordblue;
}

.payment-details__balance-title {
  margin: 0 0 0.5rem;
  font-size: 0.85rem;
}

.payment-details__lock-icon {
  margin-right: 1rem;
  font-size: 1.6rem;
  color: $oxfordblue;
}

.payment-details__description {
  margin: 0;
  line-height: 1.5;
  font-size: 0.85rem;
  color: $grey-3;
}

// Payment details - payment method
.payment-details__method-header {
  margin-bottom: 2rem;
  @include dflex(row, wrap, flex-start, center);
}

.payment-details__method-title {
  margin: 0;
  font-size: 0.85rem;
}

.payment-detail__method-annual {
  margin-left: 0.5rem;
  padding: 0.3rem 0.4rem;

  background-color: $offwhite;
  border-radius: 25px;
  font-size: 0.7rem;
  font-weight: 600;
  color: $oxfordblue;
}

.payment-details__bulb-icon {
  margin-right: 1rem;
  font-size: 1.6rem;
  color: $java;
}

.payment-details__guide {
  font-weight: bolder;
  color: $java;
}

// Products section
.products {
  background-color: $offwhite;
  border: 1px solid $grey-1;
  border-radius: 10px;
}

.products__header {
  padding: 1rem 1rem 0.7rem;
  border-bottom: 1px solid $grey-1;
}

.products__title {
  margin: 0 0 0.5rem;
  font-size: 1.1rem;
  color: $oxfordblue;
}

.products__subtitle {
  margin: 0;
  font-size: 0.85rem;
  color: $grey-3;
  font-weight: 500;
}

.products__content {
  padding: 0 1.4rem 2rem;
}

.products__item {
  padding: 1.4rem 0;
  @include dflex(row, wrap, flex-start, center);

  border-bottom: 1px solid $grey-2;
  color: $grey-3;
}

.products__product-icon {
  margin-right: 0.5rem;
  font-size: 1.4rem;
  @include dflex(row, wrap, center, center);
}

.products__product-info {
  font-size: 0.85rem;
}

// Billing history section
.billing-history {
  background-color: $offwhite;
  border: 1px solid $grey-1;
  border-radius: 10px;
}

.billing-history__header {
  padding: 1.5rem 1rem;
  border-bottom: 2px solid $grey-1;
}

.billing-history__title {
  margin: 0 0 0.5rem;
  font-size: 1.1rem;
  color: $oxfordblue;
}

.billing-history__subtitle {
  margin: 0;
  font-size: 0.85rem;
  color: $grey-3;
  font-weight: 500;
}

.billing-history__list-container {
  padding-bottom: 2rem;
  overflow-x: auto;
}

.billing-history__list {
  margin: 0 0 1rem;
  width: 100%;

  border-collapse: collapse;
  text-align: center;
  font-size: 0.85rem;
}

.billing-history__list-header {
  border-bottom: 2px solid $grey-1;
  color: $oxfordblue;
}

.billing-history__list-row {
  font-weight: 600;
  color: $oxfordblue;
}

.billing-history__list-row--border {
  border-bottom: 1px solid $grey-2;
}

.billing-history__bill-type {
  padding: 0.1rem;
  border: 1px solid $grey-2;
  border-radius: 5px;
  font-size: 0.7rem;
  line-height: 1.5;
}

.billing-history__download {
  color: $curiousblue;
  font-size: 1.5rem;
}

.billing-history__pagination-container {
  padding: 1rem;
  width: 100%;
  @include dflex(row, nowrap, center, center);
}